
@font-face {
    font-family: lato-black;
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: lato-blackitalic;
    src: url(../fonts/Lato-BlackItalic.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-BoldItalic;
    src: url(../fonts/Lato-BoldItalic.ttf);
}
@font-face {
    font-family: Lato-Hairline;
    src: url(../fonts/Lato-Hairline.ttf);
}
@font-face {
    font-family: Lato-HairlineItalic;
    src: url(../fonts/Lato-HairlineItalic.ttf);
}
@font-face {
    font-family: Lato-Italic;
    src: url(../fonts/Lato-Italic.ttf);
}
@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-Light.ttf);
}
@font-face {
    font-family: Lato-LightItalic;
    src: url(../fonts/Lato-LightItalic.ttf);
}

@font-face {
    font-family:Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}



.color{
	background-color: red;
}

.color2{
	background-color: blue;
}

.padding{
	padding-top: 1px;
}


.borde-bot{
	
	border-bottom: 1px solid #000000;
}

.borde-izquierda{
	height: 34px;
	border-left :1px solid #000000;
}

.fb{
	width: 54px;
	height: 53px;
	background: url(../img/fb-normal.png);
	background-repeat: no-repeat;
	position: absolute;
	background-position: 8px -2px;
	background-size: 35px 36px;
	z-index: -1;
}

.fb:hover{
	width: 54px;
	height: 53px;
	background: url(../img/fb-hover.png) !important;
	background-repeat: no-repeat;
	position: absolute;
	background-position: 8px -2px;
	background-size: 35px 36px;
	z-index: -1;
}

.tw{
	width: 54px;
	height: 53px;
	background: url(../img/tw-normal.png);
	background-repeat: no-repeat;
	position: absolute;
	background-position: -3px 1px;
	background-size: 36px 32px;
	z-index: -1;
}

.qs{
	font-family: lato-black;
	font-size: 10px;
	text-align: center;
}


.encontra{
	background-color: #E13333;
	padding-top: 20px;

}

.encontra2{
	background-color: #E13333;
	 
	

}

.p-en-negr{
	font-size: 14px;
	font-family: lato-black;
	text-align: center;
	line-height: 0px;
	margin-bottom: 7px; 
	
}

.p-en{

	font-size: 14px;
	font-family: lato-hairline;
	text-align: center;
	font-weight: 900;

}

.aventura{
	background: url(../img/aventura.png);
	background-repeat: no-repeat;
	background-size: 52px  74px;
	background-position: -2px -2px;
	position: absolute;
	width: 71px;
	height: 92px;
	z-index: 1;
	display: block;
	text-indent: -9999px;

}

.safari{
	background: url(../img/safari.png);
	background-repeat: no-repeat;
	background-size: 52px  70px;
	background-position: -2px -2px;
	position: absolute;
	width: 71px;
	height: 92px;
	z-index: 1;
	display: block;
	text-indent: -9999px;

}
.playa{
	background: url(../img/playa.png);
	background-repeat: no-repeat;
	background-size: 52px  74px;
	background-position: -5px -2px;
	position: absolute;
	width: 71px;
	height: 92px;
	z-index: 1;
	display: block;
	text-indent: -9999px;	

}

.tropical{
	background: url(../img/tropical.png);
	background-repeat: no-repeat;
	background-size: 52px  74px;
	background-position: -5px -2px;
	position: absolute;
	width: 71px;
	height: 92px;
	z-index: 1;
	display: block;
	text-indent: -9999px;	

}
.escapadas{
	background: url(../img/escapadas.png);
	background-repeat: no-repeat;
	background-size: 52px  74px;
	background-position: -5px -2px;
	position: absolute;
	width: 71px;
	height: 92px;
	z-index: 1;
	display: block;
	text-indent: -9999px;	

}
.cruceros{
	background: url(../img/cruceros.png);
	background-repeat: no-repeat;
	background-size: 52px  74px;
	background-position: -5px -2px;
	position: absolute;
	width: 71px;
	height: 92px;
	z-index: 1;
	display: block;
	text-indent: -9999px;	

}
.cultura{
	background: url(../img/cultura.png);
	background-repeat: no-repeat;
	background-size: 52px  74px;
	background-position: -5px -2px;
	position: absolute;
	width: 71px;
	height: 92px;
	z-index: 1;
	display: block;
	text-indent: -9999px;	

}
.lunademiel{
	background: url(../img/luna.png);
	background-repeat: no-repeat;
	background-size: 52px  74px;
	background-position: -5px -2px;
	position: absolute;
	width: 71px;
	height: 92px;
	z-index: 1;
	display: block;
	text-indent: -9999px;	

}

.anos{
	background: url(../img/15anos.png);
	background-repeat: no-repeat;
	background-size: 52px  74px;
	background-position: -5px -2px;
	position: absolute;
	width: 71px;
	height: 92px;
	z-index: 1;
	display: block;
	text-indent: -9999px;	

}
.pad{
	padding-right: 20px;
}

.padd{
	padding: 20px;
	padding-top: 59px;
}

.list-hei{
	height: 206px;
	margin-top: -62px;
}

.padd-esperando{
	padding-top: 20px;
}



.esp{
	font-size: 14px;
	font-family: lato-black;
	color:#DB0E0E;
	text-align: center;
	font-weight: 900;
	padding-top: 67px;


}

.tel{
	background-image: url(../img/tel.png);
	background-repeat: no-repeat;
	background-size: 32px  42px;
	background-position: center center;
	position: relative;
	display: block;

	z-index: -1;	
}

.punto{
	background-image: url(../img/punto.png);
	background-repeat: no-repeat;
	background-size: 32px  42px;
	background-position: center center;
	position: relative;
	display: block;

	z-index: -1;	
}

.escribinos{
	background-image: url(../img/sobre.png);
	background-repeat: no-repeat;
	background-size: 43px  35px;
	background-position: center center;
	position: relative;
	display: block;

	z-index: -1;	
}

.auto{
	background-image: url(../img/auto.png);
	background-repeat: no-repeat;
	background-size: 43px  35px;
	background-position: center center;
	position: relative;
	display: block;

	z-index: -1;	
}

.marg{
	margin-top: -20px;
}

.tfg{
	text-align: center;
	font-family: lato-Light;	
	font-size: 16px;
}

.tf{
	text-align: center;
	font-family: lato-Light;
	font-size: 13px;
	

}

.lr{
	text-align: center;
	font-family: lato-italic;
	font-size: 10px;
	font-weight: 900;
}

.at{
	text-align: center;
	font-family: lato-regular;
	font-size: 10px;
	font-weight: 500;
}

.reco{
	background-color: black;
	text-align: center;
}

.rec-tit{
	padding-top: 20px;
	color:#DB0E0E; 
	font-size: 14px;
	font-family: lato-black;
}

.rec-vin{
	text-align: center;
	font-family: lato-italic;
	font-size: 10px;
	font-weight: 900;
	color: white;
}

.naranjos{
	background-image: url(../img/naranjos.png);
	background-repeat: no-repeat;
	background-size: 170px  79px;
	background-position: center center;
	position: relative;
	width: 200px;
	height: 110px;
	z-index: 1;
	display: inline-block;
	text-align: center;
	border-top: solid;
	border-top-color: #444343;
	border-top-width: 1px;
	border-bottom: solid;
	border-bottom-color: #444343;
	border-bottom-width: 1px;	
	
}

.travel{

	background-image: url(../img/travel.png);
	background-repeat: no-repeat;
	background-size: 160px  95px;
	background-position: center center;
	position: relative;
	width: 200px;
	height: 110px;
	z-index: 1;
	display: inline-block;
	text-align: center;
	

}

.borde{
	border-top: solid;
	border-top-color: #444343;
	border-top-width: 2px;
	

}

.seccion-lista{

	text-align: center !important;
	font-family: lato-regular;
	color: white;
	font-size: 12px;
}

.seccion-lista > ul {
  list-style-type:none;

}


.seccion-lista > li > a:hover,a:link,a:active,a:visited{
	text-decoration: none !important;
	color: white !important;
}

.put{
	background-image: url(../img/punto_menu.png);
	background-repeat: no-repeat;
	background-size: 40px  37px;
	background-position: 14px 0px;
	position: relative;
	display: block;
	width: 71px;
	height: 37px;
	text-indent: -9999px;	
	z-index: 1;	
}

.cal{
	background-image: url(../img/menu_calendario.png);
	background-repeat: no-repeat;
	background-size: 40px  37px;
	background-position: 14px 0px;
	position: relative;
	display: block;
	width: 71px;
	height: 37px;
	text-indent: -9999px;	
	z-index: 1;	
}

.pre{
	background-image: url(../img/menu_moneda.png);
	background-repeat: no-repeat;
	background-size: 40px  37px;
	background-position: 14px 0px;
	position: relative;
	display: block;
	width: 71px;
	height: 37px;
	text-indent: -9999px;	
	z-index: 1;	
}


.menu{
	background-color: black;
	padding-top: 20px;
}

.menu-label{
	margin-left: -40px;
	margin-top: 7px;
	text-align: center;
	font-family: lato-regular;
	color: white;
	font-size: 14px;
	font-weight: 900;
}

.borde-enlace{
	border-top: solid;
	border-top-color: #444343;
	border-top-width: 1px;
	

}

.new-ngr{
	color: white;
	font-family: lato-bold;
	font-size: 14px;
}

.news{
	color: white;
	font-family: lato-regular;
	font-size: 12px;
}

.boton-rojo{
	text-align: center;
	font-family: lato-regular;
	font-size: 12px;
	position: absolute;
	height: 37px;
	width: 76px;
	margin-left: -15px;
	padding-top: 6px;
}

.rojo{
	background-color: #DB0E0E;
}

.fb-rojo{

	width: 54px;
	height: 53px;
	background: url(../img/face-rojo.png);
	background-repeat: no-repeat;
	position: absolute;
	background-position: 3px -3px;
	background-size: 39px 40px;
	z-index: 1;
	margin-left: -44px;

}

.tw-rojo{
	width: 54px;
	height: 53px;
	background: url(../img/twt-rojo.png);
	background-repeat: no-repeat;
	position: absolute;
	background-position: 8px -2px;
	background-size: 38px 38px;
	z-index: 1;
	margin-left: -6px;

}

.pad-fb-tw-rojo{
	padding-bottom:30px;
	padding-top: 15px;
	margin-top: 20px;
}

.data-fiscal{
	font-family: lato-black;
	font-size: 8px;
	padding-top: 56px;
	height: 53px;
	background: url(../img/data-fiscal.png);
	background-repeat: no-repeat;
	position: absolute;
	background-position: 141px 3px;
	background-size: 39px 56px;
	z-index: 1;
	
}

.buscar-rojo{
	background-color: #DB0E0E;
	text-align: center;
	font-family: lato-regular;
	font-size: 14px;
	position: absolute;
	margin-top: -40px;
	margin-left: 45px;
	height: 27px;
	width: 62px;

}

.pad-menu{
	padding-top: 35px;
}

.marg-logo{
	margin-top: -26px;
	z-index: -1;
}

.globo{
	background-image: url(../img/circulo.png);
	background-repeat: no-repeat;
	background-size: 106px  115px;
	background-position: center center;
	position: absolute;
	width: 200px;
	height: 110px;
	z-index: 1;
	text-align: center;
	
}

.etiqueta{
	background-image: url(../img/etiqueta.png);
	background-repeat: no-repeat;
	background-size: 199px  97px;
	background-position: center center;
	position: absolute;
	width: 200px;
	height: 110px;
	z-index: 1;
	text-align: center;
	margin-top: 80px;
}

.orb{
	margin-left: -5%;
	width: 109%;
}