
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Lato-Black.ttf);
}




.color{
	background-color: red;
}

.color2{
	background-color: blue;
}

.padding{
	padding-top: 1px;
}


.borde-bot{
	
	border-bottom: 1px solid #000000;
}

.borde-izquierda{
	height: 34px;
	border-left :1px solid #000000;
}

.fb{
	width: 54px;
	height: 53px;
	background: url(../img/fb-normal.png);
	background-repeat: no-repeat;
	position: absolute;
	background-position: 8px -2px;
	background-size: 35px 36px;
	z-index: -1;
}



.tw{
	width: 54px;
	height: 53px;
	background: url(../img/tw-normal.png);
	background-repeat: no-repeat;
	position: absolute;
	background-position: -3px 1px;
	background-size: 36px 32px;
	z-index: -1;
}

.qs{
	font-family: myFirstFont;
	font-size: 10px;
	text-align: center;
}