.logo{
	background-image: url(../img/travel.png);
	background-repeat: no-repeat;
	background-size: 212px 133px;
	z-index: 1;
	position: absolute;
	height: 89px;
	width: 183px;


}

.cab{
	background-color: black;
	height: 150px;

}

.cotizar{
	width: 100%;
	height:100%;
	margin-top: 50px;
}

.alert-box { transition: all 1ms ease;}

.margin-top{
	margin-top: 20px !important;
}

.oculto{
	display: none!important;
}

.fi-plus{
	font-size: 30px;
	
}

.plus{
	margin-top: 25px
}

}

